<!DOCTYPE html>
<html lang="en">
	{%include 'admin/Sheader.html'%}


<body class="">
		{%include 'admin/nav.html'%}
		<!-- Header -->
		<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
			<div class="container-fluid">
				<div class="header-body">
					<!-- Card stats -->
					<div class="row">

              <div class="col-xl order-xl-1">
                <div class="card bg-secondary shadow">
                  <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h3 class="mb-0">Add Equipments</h3>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <form method="POST">
						{%csrf_token%}
                      <div class="pl-lg-12">
                        <div class="row">
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="name">Equipment Name</label>
                              <input type="text" name="name" id="name" class="form-control form-control-alternative" placeholder="Enter name" required>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="doi">Date of Installation</label>
                              <input type="date" name="doi" id="doi" class="form-control form-control-alternative" placeholder="Enter Date of Installation" required>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label" for="dept_name">Department Name</label>
                              <select class="form-control" name="dept_id" required >
                        
                              	{%for dept in department%}
                              		<option value="{{dept.id}}">{{dept.department_name}}</option>
                              	{%endfor%}
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="details">Equipment Details</label>
                              <textarea type="text" name="details" id="details" class="form-control form-control-alternative" placeholder="Enter Equipment Detail" required></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="pl-lg-4">
                        <div class="form-group">
                          <button class="btn btn-md btn-primary">Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

          </div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--7">
	  <!-- Table -->
	  <div class="row">
		<div class="col">
		  <div class="card shadow">
			<div class="card-header border-0">
			  <h3 class="mb-0">Equipment</h3>
			</div>
			<div class="table-responsive">
			  <table class="table align-items-center table-flush">
				<thead class="thead-light">
				  <tr>

				  	<th scope="col">Equipment Id</th>
				  	<th scope="col">Equipment Name</th>
					<th scope="col">Date of Installation</th>
					<th scope="col">Equipment Description</th>
					<th scope="col" class="text-center">Action</th>
					
				  </tr>
				</thead>

				<tbody>
				{%if equip %}
					{%for equipment in equip%}
						<tr>
							<th scope="row">
								<div class="media align-items-center">
									<div class="media-body">
										<span class="mb-0 text-sm">{{equipment.id}}</span>
									</div>
								</div>
							</th>
							<td>{{equipment.equipment_name}}</td>
							<td>{{equipment.equipment_doi}}</td>
							<td style="white-space: pre-line;">{{equipment.equipment_details}}</td>
							<td class="text-right">
								<div class="col text-right">
									<a href="/admin/downloadqrcode/{{equipment.id}}"><button class="btn btn-md btn-primary">Download QR Code</button></a>
									
								</div>
							</td>
						</tr>
					{%endfor%}
					{%else%}
							<tr>
								<th scope="row">
									<div class="media align-items-center">
										<div class="media-body">
										<h3>Equipments Doesnot Exist</h3>
									</div>
								</div>
							</th>
							</tr>
					{%endif%}

				</tbody>
			  </table>
			</div>
		  </div>
		</div>
	  </div>
			</div>
			{%include 'admin/Sfooter.html'%}
		</div>
	</div>

	<div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="update_modal" aria-hidden="true">
		<form method="POST" >
			{%csrf_token%}
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Update Equipment Details</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Department Name</label>
							<input type="text" class="form-control" name="equip_name" id="equip_name">
							<input type="hidden" class="form-control" name="equip_id" id="equip_id" readonly="">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</form>
	</div>





	{%include 'admin/script.html'%}
	<script type="text/javascript">
		function Edit(equipment) {
			console.log(equipment)
			
		}
	</script>
</body>

</html>